<div class="w-full flex justify-center items-center h-screen">
  <div class="w-full max-w-md text-gray-900 dark:text-white">
    <h2>403 Forbidden</h2>
    <p>You don't have permission to access this page.</p>
  </div>
</div>
